// define colors
$accent-dark: #e9af00;
$accent-secondary-dark: #c29100;

$accent-light: #dda600;
$accent-secondary-light: #b98b00;

// Background colors
$bg-dark-col: #222;
$bg-dark-nav: #212529;

$bg-light-col: #F8F9FA;
$bg-light-nav: #E3E3E3;

// Text colors
$txt-dark-nav: #EEE;
$txt-dark-col: #eeeeee;
$txt-dark-col2: #dddddd;

$txt-light-nav: #000;
$txt-light-col: #000;
$txt-light-col2: #272727;

// define themes
html[data-theme="light"] {
    --bg-col: #{$bg-light-col};
    --bg-nav: #{$bg-light-nav};
    --txt-nav: #{$txt-light-nav};
    --txt-col: #{$txt-light-col};
    --txt-col2: #{$txt-light-col2};
    --accent: #{$accent-light};
    --accent-secondary: #{$accent-secondary-light};
}

html[data-theme="dark"] {
    --bg-col: #{$bg-dark-col};
    --bg-nav: #{$bg-dark-nav};
    --txt-nav: #{$txt-dark-nav};
    --txt-col: #{$txt-dark-col};
    --txt-col2: #{$txt-dark-col2};
    --accent: #{$accent-dark};
    --accent-secondary: #{$accent-secondary-dark};

}