@import 'variables', 'helpers','header', 'overview';

body {
    background-color: var(--bg-col);
    color: var(--txt-col);
}


section {
    
    .title {
        background-color: var(--accent);
    }

    h2,
    p {
        color: var(--txt-col2);
    }
}

